/* https://github.com/vladocar/CSS-Mini-Reset */
html,body,div,form,fieldset,legend,label{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}th,td{text-align:left;vertical-align:top;}h1,h2,h3,h4,h5,h6,th,td,caption{font-weight:normal;}img{border:0;}

html {
  font-size: 62.5%;
}

body {
  color: #383838;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  color: #3273dc;
  text-decoration: none;
}

.progress {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: progress;
  animation-timing-function: ease;
  background-color: #00d1b2;
  display: block;
  height: 1rem;
  width: 0;
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.progress.is-invisible {
  display: none;
}

.header {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 8.5rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stats .item {
  padding: 20px 40px;
  text-align: center;
}

.stats .item .heading {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.stats .item .value {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chart {
  display: none;
  padding: 20px;
}

.chart .bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0 5px 0;
}

.chart .bar span {
  margin-right: 5px;
  text-align: right;
  width: 92px;
}

.chart .bar progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  display: block;
  height: 2rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.chart .bar progress::-webkit-progress-bar {
  background-color: #eee;
}

.chart .bar progress::-webkit-progress-value {
  background-color: #3273dc;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 95%;
}

.cards .card {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 190px;
}

.cards .card .number {
  font-size: 0.60em;
  margin-bottom: 5px;
}

.cards .card .number span {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cards .card .date {
  font-size: 0.75em;
}

.cards .card .title {
  margin-bottom: 5px;
  text-transform: uppercase;
  word-break: break-word;
}

.cards .card .publisher {
  font-size: 0.75em;
}

.cards .card .format {
  font-size: 0.75em;
}

.cards .card .pages {
  font-size: 0.75em;
}

.cards .card .issues {
  font-size: 0.75em;
}

.footer {
  margin: 20px 0;
  text-align: center;
}
